@import '../../scss/_variables.scss';

input[type="text"],input[type="date"] {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $grey;
    &::placeholder {
        color: $grey;
    }

    &:focus {
        color: $greyDark;
        border: 1px solid $blue;
        border-radius: 10px;
        &::placeholder {
            color: $greyDark;
        }
    }

  }

.container {
    display: flex;
    flex-direction: column;
    margin-top: 17px;

    .title {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: $white;
    }
}

.input {
    outline: none;
    border: none;

    width: 208px;
    height: 40px;
    border-radius: 10px;
    padding: 12px;
}