@import '../../scss/_variables.scss';

.container {
   width: 980px;
   margin: 62px auto;
   background: $white;
   box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
   border-radius: 15px;

   font-family: 'Roboto';
   font-style: normal;

   display: flex;
   justify-content: space-between;

    .tickets {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

   .price {
    width: 192px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $black;
    border-left: 1px solid $blueLine;

    display: flex;
    justify-content: center;
    align-items: center;
   }

}
.linkReturn {
    width:200px;
    height: 50px;
    margin: 20px auto;

    .button {
        background-color: inherit;
        border: none;
        cursor: pointer;

        font-size: 16px;
        line-height: 18px;
        border: 1px solid $greyDark;
        border-radius: 10px;
        padding: 10px 15px;
        transition: all ease-in-out 0.35s;

        &:hover {
          background-color: $blueLine;
        }

        &:active {
          background-color: $blue;
        }
    }
}